@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 80px 0;
  max-width: 600px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.lead {
  font-size: 1.25em;
}

.formTitle {
  padding: 25px 0;
}

.registerForm {
  overflow: auto;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: none;
  margin-bottom: 5px;
  max-width: 100%;
  font-weight: 700;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  outline: 0;
  border: none;
  border-radius: 0;
  background: #fff;
  color: #616161;
  font-size: 18px;
  line-height: 1.3333333;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 10px 0;
}

.input:focus {
  box-shadow: none;
}

.button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 16px;
  width: 100%;
  outline: 0;
  border: 1px solid #19a69b;
  border-radius: 0;
  background: #19a69b;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.3333333;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
}

.icon {
  display: inline-block;
  margin: -2px 12px -2px 0;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
}

.lineThrough {
  position: relative;
  z-index: 1;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  color: #757575;
  text-align: center;
  font-size: 80%;
}

.lineThrough::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  margin-top: -5px;
  margin-left: -20px;
  width: 40px;
  height: 10px;
  background-color: #fff;
  content: '';
}

.lineThrough::after {
  position: absolute;
  top: 49%;
  z-index: -2;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  content: '';
}

.loginLayout {
  flex: 1;
}

.registerHelper {
  color: #fff;
}
